{% extends 'main/base.html' %}

{% block title %}
Регистрация
{% endblock %}

{% block content %}
<h1>Регистрация</h1>
<form id="registerForm">
    <div class="mb-3">
        <label for="first_name" class="form-label">Имя</label>
        <input type="text" class="form-control" id="first_name" placeholder="Введите имя" required>
    </div>
    <div class="mb-3">
        <label for="last_name" class="form-label">Фамилия</label>
        <input type="text" class="form-control" id="last_name" placeholder="Введите фамилию" required>
    </div>
    <div class="mb-3">
        <label for="username" class="form-label">Логин</label>
        <input type="text" class="form-control" id="username" placeholder="Введите логин" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Пароль</label>
        <input type="password" class="form-control" id="password" placeholder="Введите пароль" required>
    </div>
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>

<script>
    document.getElementById('registerForm').addEventListener('submit', function (e) {
        e.preventDefault();
        
        let first_name = document.getElementById('first_name').value;
        let last_name = document.getElementById('last_name').value;
        let username = document.getElementById('username').value;
        let password = document.getElementById('password').value;
        
        fetch('/api/register/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                first_name: first_name,
                last_name: last_name,
                username: username,
                password: password,
            }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.message === "Пользователь успешно зарегистрирован") {
                alert('Регистрация прошла успешно. Теперь вы можете войти.');
                window.location.href = '/loginn';
            } else {
                alert('Ошибка регистрации: ' + JSON.stringify(data));
            }
        })
        .catch((error) => {
            alert('Ошибка: ' + error);
        });
    });
</script>
{% endblock %}